* {
    font-family: Lato;
}

body{
    margin:0;
    background-color: #fcfcfc;
    border-top: 3px solid #1ABC9C;
    font-size: 100%;
}

#page{
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    border: 0;
    max-width: 600px;
}

#global-container{
    padding: 60px 20px 0 20px;
}

#page-content{
    text-align: center;
    margin-top: 12em;
}

h1 {
    color: #1ABC9C;
    font-size: 330%;
    margin: 0;
    font-weight: 700;
}

#page-content > p.about-me{
    font-size: 120%;
    line-height: 30px;
    color: #444444;
    margin-bottom: 20px;
}

#page-content > p.contact-me{
    margin-top: 5px;
    font-size: 120%;
    line-height: 28px;
    color: #666666;
}

a{
    color: #1ABC9C;
    text-decoration: none;
}

a:hover {
    color: #1ce5b6;
}

ul {
    padding-left: 0;
}

li{
    list-style: none;
    display: inline-block;
    margin-right: 1em;
}

li > i {
    margin-right: 5px;
}

#social-buttons {
    margin-top: 50px;
    font-size: 110%;
}

#social-buttons > li > a {
    color: #444;
}

#social-buttons > li > a:hover {
    color: #888;
}

@media all and (max-width: 600px) {
    body {
        font-size: 70%
    }

    #page-content{
        margin-top: 5em
    }
}
